.banner {
  background-image: var(--background-image);
  background-color: #f3f4f4;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 356px;
  padding: 20px 0;
  width: auto;
  position: relative;
  overflow: hidden;

  &__content {
    flex: 1;

    > .ant-row {
      height: 100%;
    }
  }

  &__link {
    background-color: #373f41;
    border-radius: 0;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
  }
}

.banner__image {
  position: absolute;
  inset: 0;

  &.image-paragraph-content {
    display: block;
    margin: 0;
    width: 100%;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0;
  }
}
