@import 'breakpoints.module';
@import 'colors.module';

:root {
  --current: #{$current};
  --gray-dark: #{$gray-dark};
  --inherit: #{$inherit};
  --neutral-black: #{$neutral-black};
  --neutral-divider: #{$neutral-divider};
  --neutral-gray: #{$neutral-gray};
  --neutral-gray-lightest: #{$neutral-gray-lightest};
  --neutral-gray-dark: #{$neutral-gray-dark};
  --transparent: #{$transparent};
  --white: #{$white};

  --screen-xs: #{$screenXS}px;
  --screen-sm: #{$screenSM}px;
  --screen-md: #{$screenMD}px;
  --screen-lg: #{$screenLG}px;
  --screen-xl: #{$screenXL}px;
  --screen-xxl: #{$screenXXL}px;

  --container-small: 730px;
  --container-medium: 920px;
  --container-large: 1200px;

  --h1-font-size: 80px;
  --h2-font-size: 55px;
  --h3-font-size: 40px;
  --h4-font-size: 35px;
  --h5-font-size: 28px;
  --h6-font-size: 25px;
}
