.basic-header {
  background-color: #f3f4f4;
  display: flex;
  flex-direction: column;
  height: 356px;
  justify-content: center;
  padding: 20px 0;

  &__title {
    flex: 1;
    justify-content: center;

    .ant-row {
      height: 100%;
    }

    .ant-col {
      max-width: 1200px;
      width: 100%;
    }

    h1 {
      --h1-font-size: 32px;
    }
  }
}
