:where(h1, .h1),
:where(h2, .h2),
:where(h3, .h3),
:where(h4, .h4),
:where(h5, .h5),
:where(h6, .h6) {
  font-size: var(--ant-font-size);
  margin-top: 0;
}

:where(h1, .h1) {
  --ant-font-size: var(--h1-font-size);
  margin-bottom: 0.5em;
}

:where(h2, .h2) {
  --ant-font-size: var(--h2-font-size);
  margin-bottom: 0.5em;
}

:where(h3, .h3) {
  --ant-font-size: var(--h3-font-size);
  margin-bottom: 0.5em;
}

:where(h4, .h4) {
  --ant-font-size: var(--h4-font-size);
  margin-bottom: 0.5em;
}

:where(h5, .h5) {
  --ant-font-size: var(--h5-font-size);
  margin-bottom: 0.5em;
}

:where(h6, .h6) {
  --ant-font-size: var(--h6-font-size);
  margin-bottom: 0.5em;
}